<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014352638153-bpriac87m69h95tgjfhjc3dti2f7iefu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014352638153-bpriac87m69h95tgjfhjc3dti2f7iefu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014352638153-cu0qj7mobmpl3r9iq05ftfvmf466jlll.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAp3XJCWbTUa2jdmiyo5YNZFqRibkFWd5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1014352638153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyad.traystorage</string>
	<key>PROJECT_ID</key>
	<string>traystorage-7eba0</string>
	<key>STORAGE_BUCKET</key>
	<string>traystorage-7eba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014352638153:ios:3d5ca3691c18a43c6bdd18</string>
</dict>
</plist>